html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* 모든 요소의 박스 모델을 보더 박스로 설정 */
    font-family: "Noto Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 18%);  /* 각 행의 높이를 조금 줄임 */
    width: 94%;
    height: 94%;
    margin: 5vh;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;  /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
    object-fit: cover;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(5, 1fr); /* 모바일에서는 5개의 열 */
        grid-template-rows: repeat(10, 10%); /* 모바일에서는 10개의 행, 각 행 높이는 전체의 10% */
        margin: 3%;
        padding-top: 5%;
        
    }
}


.image-link {
    position: relative;
    display: inline-block;
}

.description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.image-link:hover .description-overlay {
    opacity: 1;
    visibility: visible;
}

.logo-link{
    position: fixed;
    top: 2%;
    left: 1.5%;
    width: 10vh;
    height: 10vh;
}

.logo-link img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지 비율을 유지하며 요소 안에 맞춤 */
}